<%# <html>
<body class="smoothscroll enable-animation">
	

		<!-- Parallax -->
		<section class="parallax h-150 pt-40 pb-40">
			<div class="overlay dark-5">
			</div>

		<div class="container">
			<div class="text-center">
				<br><h2 class="fs-40 fw-100">Intervention Tickets</h2>
			</div>
		</div>
		</section>
		<script>

		function show_row_2(){
		// // var val = document.getElementById('customer_company_contact_full_name').value;
		// var val2 = document.getElementById('building').value;

		
		// document.getElementById('Other_selection').style.display = val2 != "" ? 'block' : 'none';
        // // // $('.container').val('');
		// // console.log('this.value ', val);
		// console.log('this value = ', val2);

		// // if val != "" {
			
		// // }

$('#customer_company_contact_full_name').change(function(){
	  var val = $(this).val();
	  document.getElementById('Lead_selection').style.display = val != "" ? 'block' : 'none';
	// val = document.getElementById('customer_company_contact_full_name').value;
	console.log('triggered');
	console.log(val);
building = Building.find_by_customer_id(customer.id)


	      	$("#building").append('<option>Select building</option>');
	      	for(var i = 0; i < building.length; i++){
	      		$("#building").append('<option value="' + building[i]["id"] + '">' + building[i]["id"] + '</option>');
	      	}
		})
		}
	
</script>

	<!-- SUBMISSION FORM -->
		<section class="p-20">
			<div class="container" style="color: rgb(0, 0, 0)">
				<!--FIRST SECTION-->
				<!-- ONE OPTION ONLY-->
				<form action="/facts" method="post">
					<div class="row">
						<div class="col-sm-6 col-md-8", id ="Customer", onchange="show_row_2()">
							<p> <strong>Create an intervention ticket</strong> </p>
							<label id="facts", for="fact_customers" >Customer's name</label>
							<%= select("customer", "company_contact_full_name", Customer.all.collect { |c| [ c.company_contact_full_name, c.id ]}, { prompt: 'Select customer' }) %>
							</select><br><br><br>
							

						
						
						<br><div id="Lead_selection" class="col-sm-6 col-md-8", style="display: none"><br>
						Customer's building: 
						<%= select("building", "id", Building.all.collect { |b| [b.id, b.id ]}, { prompt: 'Choose building' }) %>	
						</div>
						<br>
						<br>
						<br>
						<br><div id="Other_selection" class="col-sm-6 col-md-8", style="display: none"><br>
						Customer's building: 
						<%= select_tag "hum", options_from_collection_for_select(Lead.find_by_customer_id(Customer.ids), "id", "lead_company_name"), { prompt: 'Choose building'}	 %>
						</div>
						</div>
						
	

		</section>
	<!-- /SUBMISSION FORM -->

	            <!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-6">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
							We are the best on the market, based on our customer feedback!
							</p>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-6">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->
						</div>				
						<!-- /col #2 -->
					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators @2020
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

	</body>
</html> %>